.additional-goods {
}

.additional-goods__title {
  @include noBox;
  margin-bottom: 15px;
  @include font(24px, 24px, $font_base);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  padding-bottom: 35px;
  border-bottom: 1px solid $color-border-form2;
}

.additional-goods__item {
  margin-bottom: 12px;

  &:last-child {
    margin: 0;
  }
}

.additional-goods__list {
  margin-bottom: 39px;
}

.card-additional-goods__button {
  @include font (16px, 20px, $font_ofer-color);
}

.additional-goods__gift-offer {
  display: flex;
  justify-content: center;
  align-items: center;
}