.button {
  @include noBox;
  background-color: $background_good;
  display: block;
  text-align: center;
  padding: 10.3px 0;

  &_hover:hover {
    background-color: $background_good2;
  }

  &_pressed:active {
    span {
      opacity: $opacity_press;
    }
  }

  span {
    @include font(14px, 18px, $font_ofer-color);
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
  }
}