.content-header {
  padding-top: 27px;
}

.content-header__title {
  margin-bottom: 37px;
  text-align: left;
}

.content-header__slogan {
  @include noBox;
  @include font (14px, 18px, $font_base);
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}