.cooperation {
  padding-top: 28px;
  padding-bottom: 26px;

  &_white {
    background-color: $background_base;
  }

  @media screen and (min-width: $width-table) {
    padding-bottom: 61px;

    &_pg-form {
      padding-top: 63px;
      padding-bottom: 58px;
    }
  }

  @media screen and (min-width: $width-desktop) {
    padding: 62px 47px 61px 33px;
    top: 96px;
    left: 112px;
    column-gap: 96px;
  }
}

.cooperation__text {
  @include noBox;
  @include font(16px, 18px, $font_cooperation);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  flex-grow: 1;

  @media screen and (min-width: $width-table) {
    @include font(20px, 21px, $font_cooperation);
    padding-left: 41px;
  }

  &_pg-form {
    @media screen and (min-width: $width-mobily) and (max-width: $width-table) {
      padding-left: 0;
    }
  }
}

.cooperation__addres {
  @include noBox;
  @include font(14px, 20px, $font_base-card);
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  flex-grow: 1;

  @media screen and (min-width: $width-table) {
    @include font(16px, 20px, $font_base-card);
    display: flex;
    text-align: right;
    padding-right: 43px;
    flex-direction: column;
    row-gap: 17px;

    &_pg-form {
      @media screen and (min-width: $width-mobily) and (max-width: $width-table) {
        padding-right: 7px;
      }

      row-gap: 21px;
    }
  }

  @media screen and (min-width: $width-desktop) {
    text-align: left;
  }
}

.cooperation__addres-top {
  @include noBox;
}

.cooperation__addres__bottom {
  @include noBox;
}
