.fieldset-coment__title {
  margin-bottom: 39px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 76px;
  }
}

.fieldset-coment__coment {
  box-sizing: border-box;
  @include font(16px, 18px, $font_base-card);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  padding: 8px 13.5px;
  width: 100%;
  min-height: 150px;
  border: 1px solid $color-border-form;

  @media screen and (min-width: $width-table) {
    @include font(20px, 30px, $font_base-card);
    padding: 9px 18px;
    width: 631px;
    height: 173px;
  }

  @media screen and (min-width: $width-desktop) {
    height: 174px;
  }
}