.fieldset-fio-owner-cat__title {
  @include font(24px, 26px, $font_base);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 35px;
}

.fieldset-fio-owner-cat__list {
  @include font(16px, 18px, $font_base-card);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.fieldset-fio-owner-cat__item {
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.fieldset-fio-owner-cat__input {
  box-sizing: border-box;
  border: 1px solid $color-border-form2;
  padding: 14px 15px 15px;
  width: 100%;
  @include font(16px, 18px, $font_base-card);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.fieldset-fio-owner-cat__email,
.fieldset-fio-owner-cat__tel {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  @include font(16px, 18px, $font_base-card);
}
