.fieldset-add-info__title {
  @include font(24px, 26px, $font_base);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  margin-bottom: 34px;
}

.fieldset-add-info__list {
  padding-left: 46px;
  @include font(16px, 18px, $font_base);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.fieldset-add-info__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}
