.fieldset-add-info__title {
  margin-bottom: 33px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 56px;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 59px;
  }
}

.fieldset-add-info__list {
  @include font(16px, 18px, $font_base);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  @media screen and (min-width: $width-table) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 33px;
  }
}

.fieldset-add-info__item {
  display: flex;

  @media screen and (min-width: $width-table) {
    @include font(20px, 30px, $font_base);
    width: 289px;
  }

  @media screen and (min-width: $width-desktop) {
    width: 244px;
  }
}

.fieldset-add-info__item-text {
  display: flex;
  align-items: center;
  column-gap: 16px;

  @media screen and (min-width: $width-table) {
    column-gap: 18px;
  }

  &::before {
    content: "";
    width: 30px;
    height: 30px;

    @media screen and (min-width: $width-table) {
      width: 40px;
      height: 40px;
    }
  }
}
