.fieldset-cat-info {
  @include font(16px, 18px, $font_base-card);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  box-sizing: border-box;

  @media screen and (min-width: $width-table) {
    @include font(20px, 30px, $font_base-card);
  }
}

.fieldset-cat-info__list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  @media screen and (min-width: $width-table) {
    row-gap: 20px;
  }
}

.fieldset-cat-info__item {
  display: flex;
  align-items: center;
  column-gap: 14px;

  @media screen and (min-width: $width-table) {
    column-gap: 20px;
  }
}

.fieldset-cat-info__label {
  // margin-right: 14px;
  flex: 1 0 auto;
}

.fieldset-cat-info__input-text {
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 12px 15px 13px;
  border: 1px solid $color-border-form;
  width: 100%;
  font: inherit;

  @media screen and (min-width: $width-table) {
    column-gap: 20px;
    padding: 12px 15px 8px;
  }
}