.fieldset-fio-owner-cat__title {
  margin-bottom: 36px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 76px;
  }
}

.fieldset-fio-owner-cat__list {
  @include font(16px, 18px, $font_base-card);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  row-gap: 14px;

  @media screen and (min-width: $width-table) {
    @include font(20px, 30px, $font_base-card);
    row-gap: 19px;
  }

  @media screen and (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    justify-content: center;
  }
}

.fieldset-fio-owner-cat__contacts {
  flex: 1 0 auto;
}

.fieldset-fio-owner-cat__item {
  display: flex;
  align-items: center;
  column-gap: 11px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $width-table) {
    column-gap: 20px;
  }

  @media screen and (min-width: $width-desktop) {
    grid-column: span 2;
  }

  &:nth-of-type(2) {
    column-gap: 15px;
  }
}

.fieldset-fio-owner-cat__box-input-svg {
  display: flex;
  align-items: center;
  width: 100%;

  svg {
    position: absolute;
    right: 34px;

    @media screen and (max-width: $width-mobily) {
      right: 14px;
    }

    @media screen and (max-width: $width-table) {
      right: 18px;
    }

    @media screen and (max-width: $width-desktop) {
      right: 18px;
    }
  }
}

.fieldset-fio-owner-cat__input {
  box-sizing: border-box;
  border: 1px solid $color-border-form2;
  padding: 14px 15px 11px;
  width: 100%;
  @include font(16px, 18px, $font_base-card);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;

  @media screen and (min-width: $width-table) {
    @include font(20px, 30px, $font_base-card);
    padding: 10px 20px 10px;
  }
}

.fieldset-fio-owner-cat__email,
.fieldset-fio-owner-cat__tel {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  @include font(16px, 18px, $font_base-card);
}