.footer-bottom {
  @include noBox;
  padding: 0 0 22px;
}

.footer-coperayt__text {
  @include noBox;
  @include font(16px, 18px, $font_cooperation);
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

.footer-bottom__logo {
  margin-bottom: 20px;
  padding-bottom: 32px;
  border-bottom: 1px solid $color-border-card;
  text-align: center;
}

// .footer-bottom__social {
//   padding: 20px 0 21px;
//   border-bottom: 1px solid $color-border-card;
// }

.footer-bottom__social {
  margin-bottom: 22px;
}
