.footer-bottom {
  // @include noBox;
  margin: 0;
  padding-bottom: 22px;

  @media screen and (min-width: $width-table) {
    padding-bottom: 57px;
  }
}

.footer-coperayt__text {
  @include noBox;
  @include font(16px, 18px, $font_cooperation);
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}

.footer-bottom__logo {
  margin-bottom: 20px;
  padding-bottom: 26px;
  border-bottom: 1px solid $color-border-card;
  text-align: center;

  @media screen and (min-width: $width-table) {
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
}

// .footer-bottom__social {
//   padding: 20px 0 21px;
//   border-bottom: 1px solid $color-border-card;
// }

.footer-bottom__social {
  margin-bottom: 22px;

  @media screen and (min-width: $width-table) {
    margin: 0;
    border-bottom: none;
  }
}
