.footer-coperayt {
  @include noBox;
  // padding: 22px 0 0;
}

.footer-coperayt__link {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_press:active {
    opacity: $opacity_press;

    .footer-coperayt__icon {
      path {
        fill: $background_good;
      }
    }
  }

  &_hover:hover {
    .footer-coperayt__icon {
      path {
        fill: $background_good;
      }
    }
  }

  @media screen and (min-width: $width-table) {
    column-gap: 23px;
  }
}