.gift-offer {
  @include noBox;
  padding: 186px 0px 43px 0px;
  background-color: $background_good;
  background-image: url("../img/background/gift-photo-mobile 1.jpg");
}

.gift-offer__text {
  @include noBox;
  text-align: center;
  @include font(16px, 20px, $background_base);
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
}
