.input {
  border: 1px solid $color-border-form;

  &_hover:hover {
    border: 1px solid $color-border-form2;
  }

  &_focus:focus {
    border: 2px solid $font_base-card;

    ~ svg path {
      stroke: $background_good;
    }
  }

  &_error:invalid {
    border: 2px solid $error;

    ~ svg path {
      stroke: $error;
    }
  }
}
