.main-nav__item {
  @include noBox;
}

.main-nav__link {
  position: relative;
  display: inline-block;
  font-family: "Oswald", Arial;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  @include noBox;
  @include font(20px, 20px, $font_base);

  &_hover:hover {
    opacity: $opacity_hover;
  }

  &_press:active {
    opacity: $opacity_press;
  }

  &_active::after {
    content: "";
    bottom: -8px;
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $background_good;
  }
}

.main-nav__item {
  @include noBox;
  padding: 22px 0;
  text-align: center;
  border-bottom: 1px solid $color-border;
}