.main-nav {

  &_close {
    @media screen and (max-width: $width-table - 1) {
      display: none;
    }
  }
}

.main-nav__item {
  @include noBox;
}

.main-nav__link {
  position: relative;
  display: inline-block;
  font-family: "Oswald", Arial;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  @include noBox;
  @include font(20px, 20px, $font_base);

  &_hover:hover {
    opacity: $opacity_hover;
  }

  &_press:active {
    opacity: $opacity_press;
  }

  &_active::after {
    content: "";
    bottom: -8px;
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $background_good;

    @media screen and (min-width: $width-table) {
      bottom: -10px;
    }

    @media screen and (min-width: $width-desktop) {
      bottom: -7px;
    }
  }

  @media screen and (min-width: $width-table) {
    @include font(18px, 24px, $font_base);
    font-weight: 400;
  }

  @media screen and (min-width: $width-desktop) {
    @include font(20px, 30px, $font_base);
  }

  &_font-color_kontrast {
    @media screen and (min-width: $width-desktop) {
      color: $font_ofer-color;

      &.main-nav__link_active::after {
        background-color: $background_base;
      }
    }
  }
}

.main-nav__list {
  @media screen and (min-width: $width-table) {
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__item {
  margin: 0 -20px;
  padding: 22px 0 18px;
  border-top: 1px solid $color-border;
  text-align: center;

  @media screen and (min-width: $width-table) {
    margin: 0;
    border-top: none;
  }
}