.nutrition-demo-slider {
  @media screen and (min-width: $width-table) {
    background-color: $background_demo;
  }
}

.nutrition-demo-slider__slide-list {
  display: flex;
  justify-content: center;
  margin-left: -20px;
  margin-right: -13px;
}

.nutrition-demo-slider__slide-item {
  overflow: hidden;
  display: none;

  &_active {
    display: block;
  }

  @media screen and (min-width: $width-table) {
    display: block;
  }
}

.nutrition-demo-slider__controls-text {
  @include noBox;
  @include font(16px, 20px, $font_base);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}