.nutrition-demo {
  background-color: $background_demo;
  padding-top: 27px;
  padding-bottom: 37px;

  @media screen and (min-width: $width-table) {
    background-color: transparent;
    padding-top: 43px;
    padding-bottom: 37px;
    border-top: 1px solid $color-border;
  }

  @media screen and (min-width: $width-desktop) {
    border-top: none;
    padding-top: 0;
    background: linear-gradient(180deg,
        $background_base 135px,
        $background_footer -135px);
    padding-bottom: 0px;
  }
}

.nutrition-demo__content {
  margin-bottom: 33px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 254px;
  }

  @media screen and (min-width: $width-desktop) {
    grid-column: span 2;
    padding-top: 71px;
    padding-right: 125px;
    margin-bottom: 0;
  }
}

.nutrition-demo__title {
  @include noBox;
  margin-bottom: 36px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 63px;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 76px;
    grid-row: 1;
    grid-column: 1/-1;
  }
}

.nutrition-demo__text {
  @include noBox;
  margin-bottom: 25px;
  @include font(14px, 18px, $font_base-card);
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;

  @media screen and (min-width: $width-table) {
    @include font(16px, 24px, $font_base);
    margin-bottom: 54px;
    padding-right: 10px;
  }
}

.nutrition-demo__stats-list {
  gap: 34px 31px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;

  @media screen and (min-width: $width-table) {
    column-gap: 42px;
  }

  @media screen and (min-width: $width-desktop) {
    justify-content: flex-start;
    padding-top: 14px;
    row-gap: 60px;
  }
}

.nutrition-demo__stats-item {
  @include noBox;
  flex-basis: 124px;
  border: 1px solid $color-border-form2;
  border-radius: 3px;
  padding: 13px 0 16px;
  display: flex;
  flex-direction: column;
  height: 56px;

  @media screen and (min-width: $width-table) {
    flex-basis: 162px;
    height: 71px;
  }

  &_line {
    @include noBox;
    @include font(14px, 20px, $font_base);
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    border: none;
    height: initial;

    @media screen and (min-width: $width-table) {
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-end;
      @include font(20px, 20px, $font_base);
    }

    @media screen and (min-width: $width-desktop) {
      flex-direction: row;
      justify-content: flex-start;
      column-gap: 64px;
    }

    .nutrition-demo__stats-title {
      font: inherit;
    }

    .nutrition-demo__stats-text {
      font: inherit;
      color: $font_base;
      position: static;
      word-spacing: initial;
      width: initial;
      margin: 0;
      padding: 0;
    }
  }
}

.nutrition-demo__stats-title {
  @include noBox;
  @include font(24px, 24px, $font_base);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;

  @media screen and (min-width: $width-table) {
    @include font(30px, 37px, $font_base);
  }
}

.nutrition-demo__stats-text {
  @include noBox;
  @include font(12px, 12px, $font_base-card);
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  background-color: $background_demo;
  background-clip: content-box;
  padding: 0 22px;

  @media screen and (min-width: $width-table) {
    @include font(14px, 14px, $font_base-card);
    background-color: $background_base;
    padding: 0 15px;
  }

  @media screen and (min-width: $width-desktop) {
    background-color: $background_footer;
  }
}

.nutrition-demo__slider {
  @media screen and (min-width: $width-desktop) {
    grid-column: span 2;
  }
}