.page-footer {
  @include noBox;
  background-color: $background_footer;
  position: relative;
}

.page-footer__footer-bottom {
  @media screen and (min-width: $width-table) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.page-footer__page-map {
  margin-bottom: 37px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 53px;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 77px;
  }
}

.page-footer__cooperation {
  display: flex;
  column-gap: 15px;
  align-items: center;

  @media screen and (min-width: $width-desktop) {
    position: absolute;
  }
}
