.page {}

.page__body {
  @include noBox;
  min-width: 320px;
  height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page__page-header {
  grid-row: 1/2;

  @media screen and (min-width: $width-table) {
    margin-bottom: 64px;
  }

  @media screen and (min-width: $width-desktop) {
    position: absolute;
    width: 100%;
  }
}

.page__page-content {
  grid-row: 2/3;

  &_catalog {
    margin-bottom: 35px;
  }
}

.page__page-footer {
  grid-row: -1/-2;
}