.page-content {}

.page-content__section-programm-food {
  margin-bottom: 29px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 45px;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 74px;
  }
}

.page-content__section-offer {
  margin-bottom: 22px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 81px;
  }
}

.page-content__content-header {
  margin-bottom: 38px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 66px;
  }
}

.page-content__rage {
  margin-bottom: 25px;
}

.page-content__advantages {
  @media screen and (min-width: $width-desktop) {
    margin-bottom: 82px;
  }
}

.page-content__form-nutrition-program {
  margin-bottom: 32px;

  @media screen and (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    justify-content: space-around;
  }
}

.page-content__nutrition-demo {
  display: grid;

  @media screen and (min-width: $width-desktop) {
    column-gap: 80px;
    grid-template-columns: repeat(auto-fit, 245px);
    grid-template-rows: repeat(2, auto);
  }
}