.page-content {
}

.page-content__section-programm-food {
  margin-bottom: 29px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 45px;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 74px;
  }
}

.page-content__section-offer {
  margin-bottom: 22px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 81px;
  }
}

.page-content__content-header {
  margin-bottom: 38px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 66px;
  }

  &_border_bottom {
    @media (min-width: $width-mobily) and (max-width: $width-table - 1px) {
      border-bottom: 1px solid $color-border;
      padding-bottom: 39px;
      margin-bottom: 8px;
    }
  }

  &_margin-bottom_164 {
    @media screen and (min-width: $width-table) {
      margin-bottom: 164px;
    }
  }
}

.page-content__title {
  @include noBox;
}

.page-content__rage {
  margin-bottom: 25px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 68px;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 75px;
  }
}

.page-content__advantages {
  @media screen and (min-width: $width-desktop) {
    margin-bottom: 82px;
  }
}

.page-content__form-nutrition-program {
  margin-bottom: 32px;

  @media screen and (min-width: $width-desktop) {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    justify-content: space-around;
  }
}

.page-content__nutrition-demo {
  display: grid;

  @media screen and (min-width: $width-desktop) {
    column-gap: 80px;
    grid-template-columns: repeat(auto-fit, 245px);
    grid-template-rows: repeat(2, auto);
  }
}

.page-content__additional-goods {
  @media screen and (min-width: $width-desktop) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 38px;
  }
}
