.page-footer {
  @include noBox;
  background-color: $background_footer;
}

.page-footer__page-map {
  margin-bottom: 37px;
}

.page-footer__cooperation {
  display: flex;
  column-gap: 15px;
  align-items: center;
}