.section-offer {
  @media screen and (min-width: $width-table) {
    padding: 0 223px 526px 111px;
  }

  @media screen and (min-width: $width-desktop) {
    padding: 223px 830px 185px 190px;
    background: url(../img/background/green_cat-desctop.jpg),
      linear-gradient(to right, $background_base 50%, $background_promo 50%);
    background-repeat: no-repeat;
    // background-size: 50% 89.4%; //ну это я пробую ставить проценты вместо пикселей
    // background-position: 100% 0px;
    background-size: 720px auto, 100%;
    background-position: right top, center;
  }
}

.section-offer__header {
  background: url(../img/background/green_cat.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: $background_promo;
  @include noBox;
  padding: 27px 0 164px;

  @media (min-resolution: 2dppx) {
    background: url(../img/background/green_cat@x2.jpg);
    background-color: $background_promo;
    background-repeat: no-repeat;
    background-position: 61%;
    background-size: 588px;
  }

  @media screen and (min-width: $width-table) {
    background: none;
    padding: 0;
    padding-left: 6px;
    margin-bottom: 49px;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 52px;
    padding-left: 0;
  }
}

.section-offer__text-title {
  @include noBox;
  margin-bottom: 25px;
  color: $font_ofer-color;
  text-align: center;
  margin-bottom: 25px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 41px;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 40px;
  }
}

.section-offer__slogan {
  @include font(14px, 14px, $font_ofer-color);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  @include noBox;

  @media screen and (min-width: $width-table) {
    @include font(20px, 20px, $font_base);
    text-align: left;
  }
}

.section-offer__container-image {
  margin-top: -135px;
  position: relative;

  @media screen and (min-width: $width-table) {
    margin: 0;
    padding: 0;
    position: relative;
  }
}

.section-offer__image {
  margin-bottom: 3px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $width-table) {
    position: absolute;
    left: -83px;
    top: -29px;
    display: block;
    min-width: 709px;
    z-index: -1;
  }

  @media screen and (min-width: $width-desktop) {
    min-width: 552px;
    left: 368px;
    top: -314px;
    z-index: 0;
  }
}

.section-offer__link {
  span {
    @media screen and (min-width: $width-table) {
      @include font(20px, 20px, $font_ofer-color);
    }
  }

  @media screen and (min-width: $width-table) {
    width: 244px;
    padding: 15.5px 0;
  }
}