.section-programm-food__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;

  @media screen and (min-width: $width-table) {
    row-gap: 30px;
  }

  @media screen and (min-width: $width-desktop) {
    flex-direction: row;
    column-gap: 80px;
  }
}