.section-offer__header {
  background: url(../img/background/green_cat.jpg);
  background-color: $background_good;
  @include noBox;
  padding: 27px 0 164px;
}

.section-offer__text-title {
  margin-bottom: 25px;
  color: $font_ofer-color;
}

.section-offer__slogan {
  @include font(14px, 14px, $font_ofer-color);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  @include noBox;
}

.section-offer__container-image {
  margin-top: -131px;
}

.section-offer__image {
  margin-bottom: 3px;
}
