.section-offer__header {
  background: url(../img/background/green_cat.jpg);
  background-color: $background_good;
  @include noBox;
  padding: 27px 0 164px;

  @media screen and (min-width: $width-table) {
    background: none;
    padding: 0;
    margin-bottom: 49px;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 52px;
  }
}

.section-offer__text-title {
  @include noBox;
  margin-bottom: 25px;
  color: $font_ofer-color;
  text-align: center;
  margin-bottom: 25px;

  @media screen and (min-width: $width-table) {
    margin-bottom: 41px;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 40px;
  }
}

.section-offer__slogan {
  @include font(14px, 14px, $font_ofer-color);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  @include noBox;

  @media screen and (min-width: $width-table) {
    @include font(20px, 20px, $font_base);
    text-align: left;
  }
}

.section-offer__container-image {
  margin-top: -135px;
  position: relative;

  @media screen and (min-width: $width-table) {
    margin: 0;
    padding: 0;
    position: relative;
  }
}

.section-offer__image {
  margin-bottom: 3px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $width-table) {
    position: absolute;
    left: -50px;
    top: -31px;
    display: block;
    min-width: 709px;
    z-index: -1;
  }

  @media screen and (min-width: $width-desktop) {
    min-width: 552px;
    left: 368px;
    top: -314px;
    z-index: 0;
  }
}

.section-offer__link {
  span {

    @media screen and (min-width: $width-table) {
      @include font(20px, 20px, $font_ofer-color);
    }
  }

  @media screen and (min-width: $width-table) {
    width: 244px;
    padding: 15.5px 0;
  }
}