.social {
  padding: 0 0 16px;
  border-bottom: 1px solid $color-border-card;

  @media screen and (min-width: $width-table) {
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  align-items: center;

  @media screen and (min-width: $width-table) {
    column-gap: 22px;
    position: relative;
    left: 15px;
  }
}

.social__item {
  @media screen and (min-width: $width-table) {
    &:nth-last-of-type(1) {
      svg {
        width: 28px;
        height: 33px;
      }
    }

    &:nth-last-of-type(2) {
      svg {
        width: 23px;
        height: 23px;
      }
    }

    &:nth-last-of-type(3) {
      svg {
        width: 30px;
        height: 22px;
      }
    }
  }
}

.social__link {
  &_hover:hover {
    path {
      stroke: $background_good;
    }
  }

  &_action:active {
    svg {
      opacity: $opacity_press;
    }

    path {
      fill: $background_good;
    }
  }
}