.social {
  padding: 0 0 16px;
  border-bottom: 1px solid $color-border-card;

  @media screen and (min-width: $width-table) {
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  align-items: center;
}

.social__link {
  &_hover:hover {
    path {
      fill: $background_good;
    }
  }

  &_action:active {
    svg {
      opacity: $opacity_press;
    }

    path {
      fill: $background_good;
    }
  }
}
