.weight-program {
  @include noBox;
  padding: 30px 20px 19px;
  background-color: $background_footer;

  @media screen and (min-width: $width-table) {
    padding: 77px 279px 53px 53px;
    flex-basis: 372px;
  }

  @media screen and (min-width: $width-desktop) {
    padding: 77px 51px 58px 52px;
    flex-basis: 570px;
    flex: 1;
  }

  &_padding-right {
    @media screen and (min-width: $width-table) and (max-width: $width-desktop - 1px) {
      padding-right: 311px;
    }
  }
}

//!в данный момент не знаю другого решения кроме этого
// задаёт разные картинки для фонов
.weight-program {
  @mixin decorImage($url) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
  }

  &:nth-of-type(1) {
    .weight-program__visible-title {
      &::before {
        @include decorImage("../img/background/mobile/cat_back-m.svg");

        @media screen and (min-width: $width-table) {
          background-size: cover;
          width: 200px;
          height: 211px;
          // left: 392px;
          left: unset;
          right: -217px;
          top: 5px;
        }

        @media screen and (min-width: $width-desktop) {
          width: 100px;
          height: 106px;
          top: -33px;
          left: 0;
        }
      }
    }
  }

  &:nth-of-type(2) {
    .weight-program__visible-title {
      &::before {
        @include decorImage("../img/background/mobile/cat_back2-m.svg");

        @media screen and (min-width: $width-table) {
          background-size: cover;
          width: 268px;
          height: 200px;
          // left: 358px;
          right: -282px;
          left: unset;
          top: 15px;
        }

        @media screen and (min-width: $width-desktop) {
          width: 134px;
          height: 100px;
          top: -28px;
          left: -19px;
        }
      }
    }
  }
}

.weight-program__visible-title {
  @include noBox;
  margin-bottom: 29px;
  padding-left: 71px;
  @include font(24px, 37px, $font_base);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  word-break: break-all;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -7px;
    top: -6px;
    width: 67px;
    height: 50px;

    @media screen and (min-width: $width-table) {
      background-size: cover;
    }
  }

  @media screen and (min-width: $width-table) {
    padding: 0;
    margin-bottom: 24px;
    @include font(36px, 36px, $font_base);
  }

  @media screen and (min-width: $width-desktop) {
    padding-left: 162px;
    margin-bottom: 73px;
  }
}



.weight-program__text {
  @include noBox;
  padding-bottom: 22px;
  border-bottom: 1px solid $color-border-card;
  margin-bottom: 19px;
  @include font(14px, 18px, $font_base-card);
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;

  @media screen and (min-width: $width-table) {
    @include font(16px, 24px, $font_base);
    border: none;
    padding: 0;
    margin-bottom: 52px;
  }

  @media screen and (min-width: $width-desktop) {
    margin-bottom: 28px;
  }
}

.weight-program__link {
  @include noBox;
  @include font(16px, 16px, $font_base);
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;

  &::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 12px;
    background-image: url("../img/icons/strelka.svg");
    margin-left: 12px;

    @media screen and (min-width: $width-table) {
      margin-left: 20px;
    }
  }

  &_hover:hover::after {
    background-image: url("../img/icons/strelka-big.svg");
    width: 32px;
  }

  &_pressed:active {
    opacity: $opacity_press;
  }

  @media screen and (min-width: $width-table) {
    @include font(20px, 30px, $font_base);
  }
}