*,
*::before,
*::after {
  box-sizing: border-box;
}

.visibalitihidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

.picture {
  @include noBox;
  display: block;
  max-width: 100%;

  img {
    display: block;
    max-width: 100%;
  }
}

.fieldset {
  @include noBox;
  border: none;
}

.wrapper {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (min-width: $width-table) {
    padding: 0 30px;
  }

  @media screen and (min-width: $width-desktop) {
    padding: 0 110px;
  }
}