//*разрешения
$width-mobily: 320px;
$width-table: 768px;
$width-desktop: 1440px;

//*цвета
$background_base: #fff;
$background_good: #68b738;
$background_good2: #5eaa2f;
$background_card: #d9d9d9;
$background_demo: #eaeaea;
$background_footer: #f2f2f2;
$error: #ff8282;
$background_promo: #64a83b;

//* цвета шрифтов
$font_base: #000;
$font_ofer-color: #fff;
$font_base-card: #444;
$font_cooperation: #111;
$font-special-dark-form: #222222;

//* рамки
$color-border: #e6e6e6;
$color-border-card: #d9d9d9;
$color-border-form: #e7e7e7;
$color-border-form2: #cdcdcd;
$color-border-catalog: #ebebeb;

//*прозрачность
$opacity_hover: 0.6;
$opacity_press: 0.3;

//*примиси
@mixin noBox {
  padding: 0;
  margin: 0;
}


@mixin font($size: 14px, $height: 18px, $color: black) {
  font-size: $size;
  line-height: $height;
  color: $color;
}
